# Configuración de Servidor
PORT=5181
NODE_ENV=development

# Base de Datos SQL Server
DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=conteo
DB_USER=data
DB_PASSWORD=TECNOlogia2026.$

# Autenticación Admin y JWT
ADMIN_USER=admin
ADMIN_PASS=admin2024
JWT_SECRET=votoreal-lima-secret-key-2026

# Origen Permitido CORS
CORS_ORIGIN=http://localhost:3180
